<footer class="footer">
  <div class="footer-col footer-col1">
    <ul class="footer-links">
      <li><a href="http://gradecraft.com/research/" target="_blank">Research</a></li>
      <li><a href="http://gradecraft.com/our_team/" target="_blank">Team</a></li>
    </ul>
    <p>© 2012-2015 REGENTS OF THE UNIVERSITY OF MICHIGAN</p>
  </div>
  <div class="footer-col footer-col2">
    <ul class="footer-links">
    <li><a class="footer-logo" href="http://www.gradecraft.com" target="_blank"><img src="/img/logo-mark.png"></a></li>
    <li><a href="http://twitter.com/gradecraft" target="_blank"><span class="fa fa-twitter"></span></a></li>
    <li><a href="mailto:gradecraft@gmail.com" target="_blank"><span class="fa fa-envelope"></span></a></li>
    </ul>
  </div>
</footer>
