<footer class="footer">
  <div class="wrapper-1200">
    <div class="footer-col footer-col1">
      <ul class="footer-links">
        <li><a href="http://blog.gradecraft.com/research/" target="_blank">Research</a></li>
        <li><a href="http://blog.gradecraft.com/the-team/" target="_blank">Team</a>
        </li>
        <li><a href="http://blog.gradecraft.com/" target="_blank">Blog</a></li>
      </ul>
      <p>© 2012-2015 REGENTS OF THE UNIVERSITY OF MICHIGAN</p>
    </div>
    <div class="footer-col footer-col2">
     <ul class="footer-links">
      <li><a href="http://www.gradecraft.com" target="_blank"><img src="/img/logo-mark.png"></a></li>
      <li><a href="http://twitter.com/gradecraft" target="_blank"><span class="fa fa-twitter"></span></a></li>
      <li><a href="mailto:gradecraft@gmail.com" target="_blank"><span class="fa fa-envelope"></span></a></li>
     </ul>
    </div>
  </div>
</footer>
