<header class="main-header">
  <div class="wrapper wrapper-full">
    <div class="logo">
      <a href="http://localhost:4000"><img src="/img/logo.png"></a>
    </div>
    <nav class="main-nav">
      <ul>

        <li><a href="/what-is-gameful">What is Gameful?</a></li>
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="/" class="toggle-super-search"><span class="fa fa-search"></span></a></li>
      </ul>
    </nav>
  </div>
</header>
