{% assign side-nav-slug = include.section | slugify %}

<nav class="side-nav side-nav-{{ side-nav-slug }}">
  <ul class="side-nav-menu">
    {% for side_nav_item in site[side-nav-slug] %}
      <li {% if page.url == side_nav_item.url %}class="selected"{% endif %}><a href="{{ side_nav_item.url }}">{{ side_nav_item.title }}</a></li>
    {% endfor %}
  </ul>

  <select>
    {% for side_nav_item in site[side-nav-slug] %}
      <option value="{{ site.url }}{{ side_nav_item.url }}" {% if page.url == side_nav_item.url %}selected{% endif %} data-icon="/img/{{ side_nav_item.slug }}.png" class="left circle">{{ side_nav_item.title }}</option>
    {% endfor %}
  </select>
</nav>
