.section-wrapper {
  position: relative;
}

.gs-intro {
  font-style: italic;
}

.gs-img {
  margin-top: 1em;
  > img {
    display: block;
    margin: 0 auto;
  }
}

.custom-counter,
.lettered-list {
  list-style-type: none;
  margin-left: 0;
  padding-right: 0;

  @include breakpoint($mq-small) {
    padding-left: 24px;
  }

  > li {
    display: list-item;
    margin: 2em 0;
    text-align: -webkit-match-parent;

    &::before {
      background-color: $color-grey-5;
      border-radius: 50%;
      color: $white;
      display: block;
      height: 36px;
      left: -5px;
      line-height: 36px;
      position: absolute;
      text-align: center;
      width: 36px;

      @include breakpoint($mq-small) {
        height: 24px;
        line-height: 24px;
        width: 24px;
      }
    }
  }
}

.custom-counter {
  counter-reset: section;

  > li::before {
    content: counter(section);
    counter-increment: section;
  }
}

.lettered-list {
  counter-reset: subsection;

  > li {
    margin: 1.5em 0;

    &::before {
      background-color: #B8E986;
      content: counter(subsection, upper-alpha);
      counter-increment: subsection;
      height: 32px;
      left: 40px;
      line-height: 32px;
      width: 32px;

      @include breakpoint($mq-small) {
        height: 24px;
        left: 20px;
        line-height: 24px;
        width: 24px;
      }
    }
  }
}
