.gs-menu {
  display: none;

  @include breakpoint($mq-small) {
    display: block;
}

  ul {
    display: none;
  }
}

select {
  border: 0;
  height: 40px;
  width: 100%;
}

.section-wrapper {
  position: relative;
}

.gs-intro {
  font-style: italic;
}

.custom-counter {
  list-style-type: none;
  margin-left: 0;
  padding-right: 0;

  @include breakpoint($mq-small) {
    padding-left: 24px;
  }
  ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
  }
}

.custom-counter > li {
  counter-increment: step-counter;
  display: list-item;
  margin: 2em 0;
  text-align: -webkit-match-parent;
}

.custom-counter > li::before {
  background-color: $color-grey-5;
  border-radius: 50%;
  color: $white;
  content: counter(step-counter);
  display: block;
  height: 36px;
  left: -5px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 36px;

  @include breakpoint($mq-small) {
    height: 24px;
    line-height: 24px;
    width: 24px;
  }
}
