.headline {
  margin-bottom: .2em;
}

.tagline {
  margin: 0;
}

.homepage-panel {
  height: 700px;
  margin-top: 2em;

  @include breakpoint($mq_small) {
    height: auto;
    margin-top: 1em;
  }
}

.what-is-gameful-panel {
  background-color: darken(#0a4a81, 5%);
  height: 200px;
  background-image: url('../img/books2-graphic.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.faqs-panel {
  background-color: $color-blue-3;
  background-image: url('../img/FAQs.png');
  background-position: center;
  background-repeat: no-repeat;
}

.example-syllabi-panel {
  background-color: #feb130;
  background-image: url('../img/example-syllabi.png');
  background-position: center;
  background-repeat: no-repeat;
}

.panel {
  color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: .25em;
  overflow: hidden;
  position: relative;

  h2 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font-size: .9em;
    font-weight: 200;
    margin-top: 0;
  }

  img {
    bottom: 0;
    left: 15%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    @include breakpoint($mq_small) {
      height: auto;
      left: 20%;
      width: 50%;
}
    @include breakpoint($mq_extrasmall) {
      height: auto;
      left: 20%;
      width: 60%;
    }
  }
}

.getting-started-panel {
  background-color: $color-green-2;
  background-image: url('../img/getting-started.png');
  background-position: center;
  background-repeat: no-repeat;
}

.panel-text {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 0 1em;
  text-align: center;
  width: 100%;

  @include breakpoint($mq_medium) {
    margin: 4em 0;
    padding: 0 2em;
  }
}
