.headline {
  margin-bottom: .2em;
}

.tagline {
  margin: 0;
}

.homepage-panel {
  margin-top: 2em;

  @include breakpoint($mq_small) {
    height: auto;
    margin-top: 1em;
  }
}

.panel-wrapper {
  padding: .25em;
}

.panel {
  color: $white;
  overflow: hidden;
  position: relative;
  height: 300px;

  h2 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font-size: .9em;
    font-weight: 200;
    margin-top: 0;
  }
}

.panel-text {
  padding: 0 1em;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint($mq_medium) {
    padding: 0 2em;
  }
}

.what-is-gameful-panel {
  background-color: darken(#0a4a81, 5%);
  background-image: url('../img/books2-graphic.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}

.faqs-panel {
  background-color: $color-blue-3;
  background-image: url('../img/FAQs.png');
  background-position: center;
  background-repeat: no-repeat;
}

.example-syllabi-panel {
  background-color: #feb130;
  background-image: url('../img/example-syllabi.png');
  background-position: center;
  background-repeat: no-repeat;
}

.getting-started-panel {
  background-color: $color-green-2;
  background-image: url('../img/getting-started.png');
  background-position: center;
  background-repeat: no-repeat;
}
