.headline {
  margin-bottom: .2em;
}

.tagline {
  margin: 0;
}

.homepage-panel {
  margin-top: 2em;

  @include breakpoint($mq-small) {
    margin-top: 1em;
  }
}

.panel-wrapper {
  padding: .25em;
}

.panel {
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  height: 300px;
  overflow: hidden;
  position: relative;

  h2 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font-weight: 200;
    margin-top: .25em;
    @include breakpoint($mq-medium) {
      font-weight: 400;
    }
  }
}

.panel-text {
  padding: 0 1em;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint($mq-medium) {
    padding: 0 1em;
  }
}

.what-is-gameful-panel {
  background-color: darken(#0a4a81, 5%);
  background-image: url('../img/books2-graphic.png');
  background-position: bottom;
  background-size: contain;
  height: 400px;

  @include breakpoint($mq-small) {
    height: 300px;
  }
}

.faqs-panel {
  background-color: $color-blue-3;
  background-image: url('../img/FAQs.png');
}

.example-syllabi-panel {
  background-color: $color-orange-3;
  background-image: url('../img/example-syllabi.png');
}

.getting-started-panel {
  background-color: $color-green-2;
  background-image: url('../img/getting-started.png');
}
