.inline-img {
  margin: 1em;
  width: 260px;
}

.right {
  float: right;
  margin-left: 1.5em;
}

.left {
  float: left;
  margin-right: 1.5em;
}

.choice {
  width: 400px;
}

.medium {
  margin-top: .5em;
  width: 300px;
}

.large {
  width: 350px;
}

.content-what-is-gameful h2 {
  margin-top: 1.5em;
}

blockquote {
  margin: 0 auto;
  width: 400px;

  p {
    background-image: url('../img/blockquote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $color-blue-3;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    }
}
