/* General inline image styling */

.inline-img {
  padding: 1em;
  max-width: 100%;

  @include breakpoint($mq-small) {
    display: block;
    margin-bottom: .75em;
    padding: .5em;
    text-align: center;
    width: 100%;
  }
}

/* Floats for inline images */
.right {
  float: right;
  margin-left: 1em;
  @include breakpoint($mq-small) {
    float: none;
    margin: 0 auto 1em auto;
  }
}

.left {
  float: left;
  margin-right: 1em;
  @include breakpoint($mq-small) {
    float: none;
    margin: 0 auto 1em auto;
  }
}

/* Sizes for inline images */
.medium {
  width: 300px;
}

.large {
  width: 350px;
}

.xlarge {
  width: 400px;
}

.content-what-is-gameful h2 {
  margin-top: 1.5em;
}

blockquote {
  margin: 0 auto;
  width: 50%;
  @include breakpoint($mq-small) {
    width: 100%;
  }

  p {
    background-image: url('../img/blockquote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $color-blue-3;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    }
}
