$gray: #ccc;
$white: #fff;
$text-grey: #4a4a4a;
$new-blue-grey: #e7ebf0;
$color-grey-0: #333;
$color-grey-2: #666;
$color-blue-00: #001530;
$color-blue-0: #0a4a81;
$color-blue-4: #8bdeff;
$color-orange-3: #feb130;


/* Media Queries */

$small-max: 48rem; // 48 * 16 = 768px
$medium-max: 60rem; // 960px
$large-max: 75rem; // 1200px

$mq-small: max-width $small-max; // @media (max-width: 48rem)
$mq-medium: max-width $medium-max; // @media (max-width: 60rem)
$mq-large: max-width $large-max; // @media (max-width: 75rem)
