.button {
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  font-size: .9em;
  font-weight: 200;
  padding: .25em .65em;

  @include breakpoint($mq-small) {
    font-size: .9em;
  }
}

.white-button {
  border: 1px solid $white;
  color: $white;

  &:hover {
    background-color: transparentize($white, .8);
  }
}

.blue-button {
  border: 1px solid $color-blue-3;
  color: $color-blue-3;
  margin-top: 2em;

  &:hover {
    background-color: transparentize($color-blue-3, .8);
  }
}
