.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-25 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 25% auto;
      -ms-flex: 1 25% auto;
          flex: 1 25% auto;

  @include breakpoint($mq_small) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100% auto;
        -ms-flex: 1 100% auto;
            flex: 1 100% auto;
  }
}

.flex-col-50 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50% auto;
      -ms-flex: 1 50% auto;
          flex: 1 50% auto;

  @include breakpoint($mq_small) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100% auto;
        -ms-flex: 1 100% auto;
            flex: 1 100% auto;
  }
}

.flex-col-75 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 75% auto;
      -ms-flex: 1 75% auto;
          flex: 1 75% auto;
}
