.logo img {
  margin-top: .7em;
  width: 100px;

  @include breakpoint($mq_small) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75em;
  }
}

.logo a {
  color: $color-blue-4;
  font-size: 0.9em;
}
