.table-wrapper {
  @include breakpoint($mq_small) {
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  margin: .5em;
  @include breakpoint($mq_small) {
    margin: .1em;
  }
}

th,
td {
  border: 1px solid $color-grey-5;
  font-size: .75em;
  padding: .2rem;
  text-align: left;
}
