---
layout: default
---

{% assign collection_slug = page.collection | slugify %}
{% assign first_item = site[collection_slug] | first %}

<aside>
  {% include breadcrumb.html %}

  {% include side-nav.html section="sections" %}
</aside>

<section class="sidebar-right">
  {% include breadcrumb.html %}

  <h1>{{ page.title }}</h1>

  {{ content | markdownify }}

  <div>{% include chip.html %}</div>

  <a href="{% if page.next %}{{ page.next.url }}{% elsif page.collection == 'faqs' %}/faqs{% else %}{{ first_item.url }}{% endif %}" class="button blue-button">Next <span class="fa fa-long-arrow-right"></span></a>
</section>
