.content {
  background-color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding-top: 50px;

  @include breakpoint($mq-small) {
    padding-top: 3em;
  }
}
