.footer {
  background-color: rgba(51, 51, 51, .9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25em;
  z-index: 99;

  @include breakpoint($mq-small) {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    text-align: center;
  }

  p {
    color: #666;
    font-size: .75em;
    @include breakpoint($mq-small) {
      font-size: .6em;
    }
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  li:not(:last-child) {
    padding-right: 1em;
    }
  }

.footer-col {
  padding-bottom: 2.5em;
  padding-top: 2.5em;

  @include breakpoint($mq-small) {
    padding: 0;
  }
}

.footer-col2 {
  img {
  padding-top: .6em;
  width: 25px;
  }

  @include breakpoint($mq-small) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    }
}

.footer-links {
  @include breakpoint($mq-small) {
    font-size: 1.25em;
    margin: 0;
}
  a {
    color: #9b9b9b;
    text-transform: uppercase;

  span {
    font-size: 1.25em;
  }

    &:hover {
      color: $color-blue-4;
    }
  }
}
