.footer {
  background-color: rgba(51, 51, 51, .9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25em;
  z-index: 99;

  @include breakpoint($mq_small) {
    align-items: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  p {
    color: #666;
    font-size: .75em;
    @include breakpoint($mq_small) {
      font-size: .6em;
    }
  }

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  li:not(:last-child) {
    padding-right: 1em;
    }
  }

.footer-col {
  padding-bottom: 2.5em;
  padding-top: 2.5em;

  @include breakpoint($mq_small) {
    padding: 0;
  }
}

.footer-col2 {
  img {
  padding-top: .6em;
  width: 25px;
  }

  @include breakpoint($mq_small) {
    order: -1;
    }
}

.footer-links {
  @include breakpoint($mq_small) {
    font-size: 1.25em;
    margin: 0;
}
  a {
    color: #9b9b9b;
    text-transform: uppercase;

  span {
    font-size: 1.25em;
  }

    &:hover {
      color: $color-blue-4;
    }
  }
}
