.main-header {
  background-color: $color-blue-00;
  color: $color-blue-4;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint($mq_small) {
    padding: 0;
  }
}
