.sidebar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: none;
  padding-bottom: 0;

  @include breakpoint($mq-medium) {
    padding: 0;
  }

  @include breakpoint($mq-small) {
    display: block;
    padding-left: .75em;
    padding-right: .75em;
  }

  aside {
    background-color: $color-blue-3;
    min-width: 250px;

    @include breakpoint($mq-small) {
      background-color: $white;
      width: 100%;
    }

    .breadcrumbs {
      display: none;

      @include breakpoint($mq-small) {
        display: block;
      }
    }
  }

  h1 {
    @include breakpoint($mq-small) {
      display: none;
    }
  }
}

.side-nav {
  padding-top: 2.5em;
  padding-left: 1.5em;

  @include breakpoint($mq-small) {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: $white;
    line-height: 2.5em;
  }
}

.side-nav-menu {
  @include breakpoint($mq-small) {
    display: none;
  }
}

.selected a {
  font-weight: bold;

  &::after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: .75em;
    margin-right: .75em;
  }
}

.select-wrapper {
  display: none;
  margin: 1em 0 .25em;

  @include breakpoint($mq-small) {
    display: block;
  }

  span.caret {
    top: 18px;
  }

  input.select-dropdown {
    font-size: 1.5rem;
  }

  .dropdown-content li {
    & > a,
    & > span {
      color: $text-grey;
    }

    img {
      border-radius: 50%;
      float: left;
    }
  }
}

.sidebar-right {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: 960px;
  padding: 0 1.5em 3em;

  @include breakpoint($mq-small) {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .breadcrumbs {
    @include breakpoint($mq-small) {
      display: none;
    }
  }
}
